{% if page.header.event.ticket_show == "price" %}
	<div>
		{{ t("THEME_KUKOON.EVENT.FEE")|e }}
		{% if page.header.event.ticket_link != "" %}
			<a href="{{page.header.event.ticket_link}}" target="_blank">
				{{ page.header.event.ticket_price }}
			</a>
		{% else %}
			{{ page.header.event.ticket_price }}
		{% endif %}
	</div>
{% elseif page.header.event.ticket_show == "free" %}
	<div>
		{{ t("THEME_KUKOON.EVENT.NOFEE")|e }}
	</div>
{% endif %}
