{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production-mode') ? '.min.css' : '.css' %}
{% use 'blocks/base.html.twig' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
	<head>
		{% block head deferred %}
			<meta charset="utf-8"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			{% include 'partials/metadata.html.twig' %}
			<title>
				{% if page.title %}
					{{ page.title|e('html') }}
					|
				{% endif %}
				{{ site.title|e('html') }}</title>

			<link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://icon/apple-touch-icon.png') }}">
			<link rel="icon" type="image/png" sizes="32x32" href="{{ url('theme://icon/favicon-32x32.png') }}">
			<link rel="icon" type="image/png" sizes="16x16" href="{{ url('theme://icon/favicon-16x16.png') }}">
			<link rel="shortcut icon" href="{{ url('theme://icon/favicon.ico') }}">
			<link rel="mask-icon" href="{{ url('theme://icon/safari-pinned-tab.svg') }}" color="#5bbad5">
			<link rel="manifest" href="{{ url('theme://icon/site.webmanifest') }}">
			{% include 'partials/language-selector.hreflang.html.twig' %}
			<meta name="msapplication-TileColor" content="#ffffff">
			<meta name="msapplication-config" content="{{ url('theme://icon/browserconfig.xml') }}">
			<meta name="theme-color" content="#ffffff">

			<link rel="canonical" href="{{ page.url(true, true) }}"/>
		{% endblock head %}

		{% block stylesheets %}
			{% do assets.addCss('theme://fonts/overpass/overpass.css') %}
			{% do assets.addCss('theme://fonts/fira-sans/fira.css') %}

			{% do assets.addCss('theme://css/spectre'~compress) %}
			{% if theme_var('spectre.exp') %}
				{% do assets.addCss('theme://css/spectre-exp'~compress)  %}
			{% endif %}
			{% if theme_var('spectre.icons') %}
				{%  do assets.addCss('theme://css/spectre-icons'~compress) %}
			{% endif %}
			{% do assets.addCss('theme://css/theme'~compress) %}
		{% endblock %}

		{% block javascripts %}
			{% do assets.addJs('jquery', 101) %}
			{% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
			{% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
		{% endblock %}

		{% block assets deferred %}
			{{ assets.css()|raw }}
			{{ assets.js()|raw }}
		{% endblock %}
	</head>
	<body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}">
		<div id="page-wrapper">
			{% block header %}
				<section id="header" class="section bg-primary">
					<section class="container {{ grid_size }}">
						<nav class="navbar">
							<section class="navbar-section logo">
								<a href="{{ home_url }}" class="navbar-brand mr-10">
									<img src="{{ url('theme://images/logo.png') }}" alt="{{site.title }} {{ t("THEME_KUKOON.GENERAL.HOME")|e }}"/>


								</a>
							</section>
							<section class="navbar-section desktop-menu">
								<nav class="dropmenu animated">
									{% block header_navigation %}
										{% if theme_var('menu.enabled') %}
											{% include 'partials/navigation.html.twig' %}
										{% endif %}
									{% endblock %}
								</nav>

								{% if config.plugins.login.enabled and grav.user.username %}
									<span class="login-status-wrapper">
										<i class="fa fa-user"></i>
										{% include 'partials/login-status.html.twig' %}</span>
								{% endif %}
							</section>
						</nav>
					</section>
				</section>
				{% if theme_var('menu.enabled') %}
					<div class="mobile-menu">
						<div class="button_container" id="toggle">
							<span class="top"></span>
							<span class="middle"></span>
							<span class="bottom"></span>
						</div>
					</div>
				{% endif %}
			{% endblock %}

			{% block hero %}{% endblock %}

			<section id="start">
				{% block body %}
					<section id="body-wrapper" class="section">
						<section class="container {{ grid_size }}">
							{% block messages %}
								{% include 'partials/messages.html.twig' ignore missing %}
							{% endblock %}
							{{ block('content_surround') }}
						</section>
					</section>
				{% endblock %}
			</section>

		</div>

		{% block footer %}
			{% include 'partials/footer.html.twig' %}
		{% endblock %}

		{% block mobile %}
			<div class="mobile-container">
				{% if theme_var('menu.enabled') %}
					<div class="overlay" id="overlay">
						<nav class="overlay-menu">
							{% include 'partials/navigation.html.twig' with {tree: true} %}
						</nav>
					</div>
				{% endif %}
			</div>
		{% endblock %}

		{% block bottom %}
			{{ assets.js('bottom')|raw }}
		{% endblock %}
	</body>
</html>
