{% set image = page.media.images|first %}
<div class="event-item column col-4 col-sm-12 col-lg-6">
	<div class="card">
		{% if image != null %}
			<div class="card-image">
				{{ image.cropZoom(900,506).html(page.title, "Bild von Veranstaltung: ". page.title, "img-responsive") }}
			</div>
		{% endif %}
		<div class="card-header">
			{% if page.taxonomy.category and config.plugins.events.event_sidebar.enable_categories %}
				{% for category in page.taxonomy.category %}
					<a href="{{ event.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">
						<span class="chip">
							{{ category }}
						</span>
					</a>
				{% endfor %}
			{% endif %}
			<div class="card-title h5"><a href="{{ page.url }}">{{ page.title}}</a></div>
		</div>
		<div class="card-body">
			{% set category = page.taxonomy.category|first %}
			<a href="{{ event.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">
				<img src="/user/themes/kukoon/images/category/{{ category }}.jpg" style="height: 64px;" />
			</a>
			<div class="float-right text-right">
				<div>{{ page.header.event.admission|dateTranslate(config.plugins.events.event_item.date) }}</div>
				<div>Einlass: {{ page.header.event.admission|dateTranslate(config.plugins.events.event_item.time) }}</div>
				<div>Eintritt: {{ page.header.event.ticket }}</div>
			</div>
		</div>
	</div>
</div>
