<nav class="navbar pure-menu pure-menu-horizontal pure-menu-fixed">
	<div class="container">
		<a class="navbar-brand" href="{{ base_url == '' ? '/' : base_url }}">
			<img src="{{ url('theme://images/logo.png') }}" alt="Kukoon Logo" />
		</a>
		{% if theme_config.menu.enabled %}
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbarNavAltMarkup">
				<ul class="navbar-nav mr-auto">
					{% for page in pages.children.visible %}
						{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
						{% if theme_config.dropdown.enabled and page.children.visible.count > 0 %}
							<li class="dropdown {{ current_page }}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ page.menu }} <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									{% set current_parent = page.active ? 'active' : '' %}
									<li class="{{ current_parent }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
									<li class="divider"></li>
									{% for child in page.children.visible %}
										{% set current_child = (child.active or child.activeChild) ? 'active' : '' %}
										<li class="{{ current_child }}"><a href="{{ child.url }}">{{ child.menu }}</a></li>
									{% endfor %}
								</ul>
							</li>
						{% else %}
							<li class="nav-item {{ current_page }}"><a class="nav-link" href="{{ page.url }}">{{ page.menu }}</a></li>
						{% endif %}
					{% endfor %}
					{% for mitem in theme_config.menu.extras %}
						<li class="nav-item">
							<a class="nav-link" href="{{ mitem.url }}">{{ mitem.text }}</a>
						</li>
					{% endfor %}
					{% if config.plugins.login.enabled and grav.user.username %}
						<li><i class="fa fa-lock"></i> {% include 'partials/login-status.html.twig' %}</li>
					{% endif %}
				</ul>
			</div>
		{% endif %}
	</div>
</nav>
