<h2>
	<a href="{{ page.url }}">{{ page.title }}</a>
</h2>
<header class="event-header">
	{% include 'partials/event/meta.html.twig' %}
</header>
{% set image = page.media.images|first %}
{% if image %}
	<div class="title-img">
		<a href="{{ page.url }}" style="display: inline-block !important; height: 0px !important">{{ image.html|raw }}</a>
	</div>
	{% if image.meta.credit %}
		<span class="credit">
			<small>
				<i>Credit:
					{{ image.meta.credit }}
				</i>
			</small>
		</span>
	{% endif %}

{% endif %}
<div class="card-body">
	{{ page.summary|raw }}
</div>
<div class="card-footer">
	{% include 'partials/blog/taxonomy.html.twig' %}
</div>
