
<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
<header class="event-header">
    {% include 'partials/event/categories.html.twig' %}
    <div>
        {% if page.header.event.doors_open != null and page.header.event.doors_open != page.header.event.start %}
            {{ page.header.event.doors_open|dateTranslate(config.plugins.events.event_item.date) }} | 
                Einlass
                <time datetime="{{ page.header.event.doors_open|date("c") }}">
                    {{ page.header.event.doors_open|dateTranslate(config.plugins.events.event_item.time) }}
                </time>
            
        {% else %}
            {{ page.header.event.start|dateTranslate(config.plugins.events.event_item.date) }} | 
        {% endif %}
            Beginn
            <time datetime="{{ page.header.event.start|date("c") }}">
                {% if page.header.event.doors_open and page.header.event.doors_open|dateTranslate(config.plugins.events.event_item.date) != page.header.event.doors_open|dateTranslate(config.plugins.events.event_item.date) %}
                    {{ page.header.event.start|dateTranslate(config.plugins.events.event_item.date) }}
                {% endif %}
                {{ page.header.event.start|dateTranslate(config.plugins.events.event_item.time) }}
            </time> | 
            Ende
            <time datetime="{{ page.header.event.end|date("c") }}">
                {% if page.header.event.start|dateTranslate(config.plugins.events.event_item.date) != page.header.event.end|dateTranslate(config.plugins.events.event_item.date) %}
                    {{ page.header.event.end|dateTranslate(config.plugins.events.event_item.date) }}
                {% endif %}
                {{ page.header.event.end|dateTranslate(config.plugins.events.event_item.time) }}
            </time>
    </div>
</header>
<div class="card-body">
    {{ page.summary|raw }}
</div>
<div class="card-footer">
{% include 'partials/blog/taxonomy.html.twig' %}
</div>

