<h2>
	<a href="{{ page.url }}" style="font-weight: 600; font-style: italic">{{ page.title|upper }}
	</a>

</h2>
<header class="event-header">
	{% include 'partials/event/meta.html.twig' %}
</header>
{% set image = page.media.images|first %}
{% set youtube_id = page.header.trailer.youtube_id %}
{% if image %}
	<div class="card-image">
		<a href="{{ page.url }}">{{ image.html|raw }}</a>
		<div class="credit">
			<span>Credit:
				{{ page.header.metadata.Credit }}</span>
		</div>
	</div>
{% elseif youtube_id %}
	<div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;margin-bottom: 10px">
		<iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.youtube-nocookie.com/embed/{{ youtube_id }}?modestbranding=1&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" width="100%" height="100%" allowfullscreen allow="autoplay"></iframe>
	</div>
{% endif %}
<div class="card-body">
	{{ page.summary|raw }}
</div>
<hr/>
<div class="card-footer">
	{% include 'partials/blog/taxonomy.html.twig' %}
</div>
