{% extends 'partials/base.html.twig' %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}

{% block content %}
	<article class="event-article">
		<header class="event-header">
			{% set authors = page.header.event.authors %}
			{% if authors|length > 0 %}
				<h2 class="h2-subtitle">
					{% if authors|length > 1 %}
						{{ authors|join(', ') }}
					{% elseif authors|length > 0 %}
						{{ authors|first }}
					{% endif %}
				</h2>
			{% endif %}
			<h1 class="event-title">{{ page.title }}</h1>
			{% include 'partials/event/meta.html.twig' %}
			{% include 'partials/event/meta-film.html.twig' %}


		</header>
		{% if 'Utopia Film Festival' in page.taxonomy.category %}
			{% set youtube_id = page.header.trailer.youtube_id %}
			{% if youtube_id %}
				<div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;margin-bottom: 10px">
					<iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.youtube-nocookie.com/embed/{{ youtube_id }}?modestbranding=1&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" width="100%" height="100%" allowfullscreen allow="autoplay"></iframe>
				</div>
			{% endif %}
			<section class="event">
				<div class="event-content">
					{{  page.content|slice(page.summary|length) }}
				</div>
				{% include 'partials/event_meta.html.twig' with { 'page': page } %}
			</section>
		{% else %}
			{% set image = page.media.images|first %}
			{% set youtube_id = page.header.trailer.youtube_id %}
			{% if youtube_id %}
				<div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;margin-bottom: 10px">
					<iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.youtube-nocookie.com/embed/{{ youtube_id }}?modestbranding=1&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" width="100%" height="100%" allowfullscreen allow="autoplay"></iframe>
				</div>

			{% elseif image != null %}
				<div class="title-img">
					{{ image.cropResize(1000,1700).html("Veranstaltung: "~page.title, page.title, "img-responsive") }}
				</div>
				{% if image.meta.credit %}
					<span class="credit" style="margin-top: -22px !important;">
						<small>
							<i>Credit:
								{{ image.meta.credit }}
							</i>
						</small>
					</span>
				{% endif %}
			{% endif %}
			<section class="event">
				<div class="event-content">{{ page.content }}</div>
				{# {% include 'partials/event_meta.html.twig' with { 'page': page } %} #}
			</section>
		{% endif %}
	</article>
	{% include 'partials/event/organizers.html.twig' %}
	{% include 'partials/event/categories.html.twig' %}

	<div class="sponsors"></br>
	<p>
		<small>
			<i>{{ t("THEME_KUKOON.EVENT.SUPPORTEDBY")|e }}:</i>
		</small>
	</p>
	{% if 'im Park 🌳🎪' in page.taxonomy.category %}
		<img src="{{ url('theme://images/sponsors/Logo_Beirat_Neustadt_154x40.png') }}" alt="Beirat Neustadt Logo"/>
	{% endif %}
	{% if 'Open/Closed Festival' in page.taxonomy.category %}
		<img src="{{ url('theme://images/sponsors/IniMusik_logo_kurz_72dpi_color_102x60.jpg') }}" alt="Initiative Musik Logo"/>
	{% endif %}
	{% if 'am Wall' in page.taxonomy.category %}
		<img src="{{ url('theme://images/sponsors/Neustart_Kultur_82x80.jpg') }}" alt="Neustart Kutlur Logo"/>
		<img src="{{ url('theme://images/sponsors/BKM_Logo_187x80.jpg') }}" alt="BKM Logo"/>
		<img src="{{ url('theme://images/sponsors/GEMA_logo_76x80.jpg') }}" alt="GEMA Logo"/>
	{% endif %}
	<img src="{{ url('theme://images/sponsors/Logo-Senator-Kultur-237x40.png') }}" alt="Senator für Kultur Logo"/>
</div>{% endblock %}
