{% extends 'partials/base.html.twig' %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}

{% block content %}
	<article class="event-article">
		<header class="event-header">
			{% include 'partials/event/categories.html.twig' %}
			<h1 class="event-title">{{ page.title }}</h1>
			{% include 'partials/event/meta.html.twig' %}
		</header>
		{% if 'Utopia Film Festival' in page.taxonomy.category %}
			<section class="event">
				<div class="event-content">
					{{  page.content|slice(page.summary|length) }}
				</div>
				{% include 'partials/event_meta.html.twig' with { 'page': page } %}
			</section>
		{% else %}
			{% set image = page.media.images|first %}
			{% if image != null %}
				<div class="title-img">
					{{ image.cropResize(960,1700).html("Veranstaltung: "~page.title, page.title, "img-response") }}
					{% if image.meta.credit %}
						<span class="credit">
							<small>
								<i>Credit:
									{{ image.meta.credit }}
								</i>
							</small>
						</span>
					{% endif %}
				</div>
			{% endif %}
			<section class="event">
				<div class="event-content">{{ page.content }}</div>
				{# {% include 'partials/event_meta.html.twig' with { 'page': page } %} #}
			</br>
			<p>
				<small>
					<i>{{ t("THEME_KUKOON.EVENT.SUPPORTEDBY")|e }}:</i>
				</small>
			</p>
			{% if 'im Park 🌳🎪' in page.taxonomy.category %}
				<img src="{{ url('theme://images/sponsors/Logo_Beirat_Neustadt_154x40.png') }}" alt="Beirat Neustadt Logo"/>
			{% endif %}
			{% if 'Open/Closed' in page.taxonomy.category %}
				<img src="{{ url('theme://images/sponsors/IniMusik_logo_kurz_72dpi_color_102x60.jpg') }}" alt="Initiative Musik Logo"/>
			{% endif %}
			<img src="{{ url('theme://images/sponsors/Logo-Senator-Kultur-237x40.png') }}" alt="Senator für Kultur Logo"/>
		</section>
	{% endif %}
</article>{% endblock %}
